p{
    color:darkslateblue;
    font-size:50%;
    width:100%;
    height:300% ;
    background-color:ghostwhite;
    border: 10px solid powderblue;
    padding: 30px;
    margin: 10px;
}
h4{
    color:lightblue;
    font-size:300%;
    width: 60%;
    height:100%;
    background-color:lightsalmon;
    font-family: Arial, Helvetica, sans-serif;

}
#p01{
    color:sienna;
    background-color:thistle;
    border:3px solid blue;
    padding: 20px;
    margin:0px;
}
.div01{
    color:lightblue;
    font-size:300%;
    width: 60%;
    height:100%;
    background-color:lightsalmon;
    font-family: Arial, Helvetica, sans-serif;
}